* {
    font-family: 'Source Code Pro', monospace;
    color: rgb(234, 235, 235);
}
body{
    background-color: #001414;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0px;
    min-height: 100vh;
}

/* navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000
}
.navbar-container {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.nav-left{
    display: flex;
    align-items: center;
}
.logo {
    border-radius: 50%;
    margin: 0 1rem;
    padding: auto;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.nav-right {
    margin-left: auto;

}
.nav-items-container{
    display: flex;
    flex-wrap: wrap;

}
.nav-item {
    margin: 1rem;
    list-style-type: none;
}
.nav-items-link {
    text-decoration: none;
    color: #ffffff;
}
.nav-items-link:hover {
    color: #02a7bd;
    text-decoration: none;  
}
.nav-name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0 0 0 0.5rem;
    text-align: left;
}

/* hero section */
.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    padding: 4rem 0;
}
.hero-image {
    max-width: 200px;
    height: aut0;
    margin: 0 auto;
    display: block;
    align-items: left;
}
.hero-left,
.hero-right{
    width: 100%;
}
.hero-container .hero-title {
    text-align: left;
    padding-left: 1rem;
}
.description {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #ffffff;
    text-align: justify;
}
/*Resume Section*/
.resume-container {
    margin: 1rem;
    padding: 6.5rem 1rem 0 1rem;
    min-height: 100vh;
}
.resume-sub-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.subtitle {
    font-size: 1.25rem;
    line-height: 1.6rem;
    margin-bottom: 0;
}
.line {
    width: 100px;
    height: 2px;
    background-color: #ffffff;
    margin: .25rem 0 2rem 0 ;
}
.inner-line {
    width: 40px;
    height: 2px;
    background-color: #02a7bd;
    margin: .25rem 0 2rem 0 ;
}
/* Container */

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }

}

@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }

}
@media (min-width: 992px) {
    .hero-left{
        width: 40%;
    }
    .hero-right{
    width: 60%;
    }
    .container{
        max-width: 960px;
    }

}
@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }

}
@media (min-width: 1400px) {
    .container{
        max-width: 1320px;
    }

}

.title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}
